{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Market
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/otree_single_asset_market/single_asset_text_interface.js"></script>
{% endblock %}

{% block content %}

    <single-asset-text-interface
        bids="{{ bids }}"
        asks="{{ asks }}"
        settled-assets="{{ settled_assets }}"
        available-assets="{{ available_assets }}"
        settled-cash="{{ settled_cash }}"
        available-cash="{{ available_cash }}"
        trades="{{ trades }}"
    ></single-asset-text-interface>

{% endblock %}
