{% extends "otree_markets/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Market
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/otree_single_asset_market/single_asset_text_interface.js"></script>
    <script type="module" src="/static/otree_markets/disable_interface_overlay.js"></script>
{% endblock %}

{% block content %}

    <disable-interface-overlay
    ></disable-interface-overlay>

    <single-asset-text-interface></single-asset-text-interface>

{% endblock %}
